.App {
  text-align: center;
  width: 10vw;
  height: 10vh;
}

.Pictures {
  position: relative;
  margin: 10px;
}

img {
  margin: 5px;
}

.Board {
  position: absolute;
  /* left: 300px; */
  right: 10px;
  top: 15px;
  width: 300px;
  height: 500px;
  border: 2px solid black;
}

.Hooray {
  font-size: 30px;
  position: absolute;
  left: 150px;
  top: 15px;
}

.HoorayNone {
  display: none;
  position: absolute;
  left: 200px;
  top: 15px;
}
